* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    background: #ffffff;
}

.footer {
    width: 100%;
    padding: 10px 0;
    background-color: red;

}

.footer p {
    margin-bottom: 0;
}


.form-title-landing {
    margin: 5% 0;
}

.btn-list {

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 65%;
}